@{
    ViewData["Title"] = "Home Page";
}
<div  class="text-center">
<h2>This is an example of Angular 2.</h2>
<h3>It flows fine</h3>
  
<p>You can change the greeting text</p>
<label>Nombre:</label>
 <input placeholder="{{nombre}}" #box (keyup)="evName(box.value)">
<label>Message:</label>
<input placeholder="{{message}}" #box2 (keyup)="evMessage(box2.value)">
    

   <h1>{{ message }} {{ nombre }}</h1>

 </div>



