@{
    ViewData["Title"] = "Home Page";
}
<h2>This is an example of Angular 2. It seems all is working.</h2>
<h3>You can change the greeting text</h3>
<label>Nombre:</label>
 <input #box (keyup)="evName(box.value)">
<label>Message:</label>
<input #box2 (keyup)="evMessage(box2.value)">


   <h1>{{ message }} {{ nombre }}</h1>





